@use '@/assets/iconfont/iconfont.css';
* {
  margin: 0;
  padding: 0;
  font-family:
    Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
fieldset,
img {
  border: 0;
}
li,
ol {
  list-style: none;
}
a,
img {
  -webkit-touch-callout: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-size: 100%;
  font-weight: normal;
}
input[type='password'],
input[type='text'],
textarea,
.el-input__inner {
  resize: none;
  outline: 0;
  -webkit-appearance: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: transparent;
}

.el-page-class {
  width: 1920px;
  height: auto;
  min-width: 1920px;
  min-height: 1080px;
  overflow: hidden;
  background: $white-light;
}
.index-content-page {
  position: relative;
  display: block;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  height: calc(100% - 20px);
  background-color: $white-light;
  box-shadow: inset 0 0 25px $white-dark;
  z-index: 100;
}
.ellipsis {
  white-space: nowrap; /* 确保内容在一行内显示 */
  overflow: hidden; /* 隐藏超出容器的内容 */
  text-overflow: ellipsis; /* 内容超出时显示省略号 */
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.class-flex {
  @include flexwrap(nowap);
  .class-flex-left {
    text-align: left;
    flex: 1;
  }
  .class-flex-right {
    text-align: right;
  }
}
.card {
  background: $white;
  border-radius: 5px;
  padding: 10px;
}
.cursor {
  color: $white;
  cursor: pointer;
}
.cursor:hover {
  color: $mainPrimary;
  cursor: pointer;
}
.mr {
  margin-right: 10px;
}
.ml {
  margin-left: 10px;
}
